{% extends 'layout/template.twig' %}

{% block description %}Creation of an user. Restricted area.{% endblock %}

{% block title %} Creation of an user {% endblock %}

{% block content %}
<h1>Creation of an user</h1>
<form class="form" action="{{ url('user!create') }}" method="post">
  <ul>
       <li>
         <label for="first_name">First name</label>
         <input id="first_name" type="text" name="first_name" required>
       </li>
       <li>
           <label for="last_name">Last name</label>
           <input id="last_name" type="text" name="last_name" required>
       </li>
       <li>
           <label for="nickname">Nickname</label>
           <input id="nickname" type="text" name="nickname" required>
       </li>
       <li>
         <label for="email">Email</label>
         <input id="email" type="email" name="email" required>
       </li>
       <li>
         <label for="pass">Password</label>
         <input id="pass" type="password" name="pass" autocomplete="off" required>
       </li>
     </ul>

     <ul>
       <li>
           <input type="reset" value="Reset">
           <input type="submit">
       </li>
   </ul>
</form>
<a href="{{ url('user') }}">Go back</a>
{% endblock %}
