{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin blog page. Relative content about my website in a blog format.{% endblock %}

{% block title %}Blog page{% endblock %}

{% block content %}
<h1>Content about my website, in a blog format.</h1>
{% endblock %}

{% block script %}
{% endblock %}
