{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin blog page. Relative content about my website in a blog format.{% endblock %}

{% block title %}Blog page{% endblock %}

{% block content %}
<h1>Content about my website, in a blog format.</h1>
  {% for blog in blog %}
      <section class="card-purple">
          <figure>
              <img src="#" alt="#">
          </figure>
          <h5>{{ blog.title }}</h5>
          <p>
            {{ blog.content|nl2br }}
          </p>
          <p>
            {{ blog.created_date }}
          </p>
          <a class="btn-purple" href="#">To the full post</a>
      </section>
  {% endfor %}
{% endblock %}

{% block script %}
{% endblock %}
