{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin user connection.{% endblock %}

{% block title %}Connection page{% endblock %}

{% block content %}
<h1>Connection page to admin content.</h1>
{% endblock %}

{% block script %}
{% endblock %}
