{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin Contact. Relative content about me.{% endblock %}

{% block title %}Contact page{% endblock %}

{% block content %}
<h1>Contact me.</h1>

<form action="#" method="post">

</form>
{% endblock %}

{% block script %}
{% endblock %}
