{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin Contact. Relative content about me.{% endblock %}

{% block title %}Contact page{% endblock %}

{% block content %}
<h1>Contact me.</h1>

{% if session.users.status is defined %}
<form class="form" method="post" action="{{ url('contact!mail') }}">
    <ul>
      <li>
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Name" name="name" value="{{ session.users.name }}" required>
      </li>

      <li>
        <label for="email">E-mail</label>
        <input id="email" type="email" placeholder="Mail" name="email" value="{{ session.users.email }}" required>
      </li>

      <li>
        <label for="subject">Subject</label>
        <input id="subject" type="text" placeholder="Subject" name="subject" required>
      </li>

      <li>
        <label for="contents">Content</label>
        <textarea id="contents" placeholder="Content" name="content" rows="6" required></textarea>
      </li>

      <li>
        <input type="reset" value="Reset">
        <input type="submit" value="Send">
      </li>
    </ul>
</form>

{% else %}

<form class="form" method="post" action="{{ url('contact!mail') }}">
    <ul>
      <li>
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Name" name="name" required>
      </li>

      <li>
        <label for="email">E-mail</label>
        <input id="email" type="email" placeholder="Mail" name="email" required>
      </li>

      <li>
        <label for="subject">Subject</label>
        <input id="subject" type="text" placeholder="Subject" name="subject"required>
      </li>

      <li>
        <label for="contents">Content</label>
        <textarea id="contents" placeholder="Content" name="content" rows="6" required></textarea>
      </li>

      <li>
        <input type="reset" value="Reset">
        <input type="submit" value="Send">
      </li>
    </ul>
</form>
{% endif %}
{% endblock %}

{% block script %}
{% endblock %}
