{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin game page. Relative content about my game.{% endblock %}

{% block title %}Game page{% endblock %}

{% block content %}
<h1>Content about my game, newly created.</h1>
{% endblock %}

{% block script %}
{% endblock %}
