{% extends "layout/template.twig" %}

{% block description %}Matthias Geslin Progress. Relative content about me.{% endblock %}

{% block title %}Progress page{% endblock %}

{% block content %}
<h1>Content about my progress in the developpement.</h1>
{% endblock %}

{% block script %}
{% endblock %}
